/*                                      
__________________________________________________________________KEYFRAMES ANIMATIONEN_____________________________________________________________________________________________
*/
/*Fall animatiom*/

@keyframes drop {
    0%{opacity: 0}
  70%{transform: translateY(20px)}
  100%{transform: translateY(0px)}
}

/*Animation der drehenden Farbachsen im Hintergrund*/
@keyframes colorChange {
  10%{background: -webkit-linear-gradient(148deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
  15%{background: -webkit-linear-gradient(147deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
  20%{background: -webkit-linear-gradient(146deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
  25%{background: -webkit-linear-gradient(144deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
  30%{background: -webkit-linear-gradient(141deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
  35%{background: -webkit-linear-gradient(138deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
  40%{background: -webkit-linear-gradient(135deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
  45%{background: -webkit-linear-gradient(133deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
  50%{background: -webkit-linear-gradient(131deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
  55%{background: -webkit-linear-gradient(130deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
  60%{background: -webkit-linear-gradient(131deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
  65%{background: -webkit-linear-gradient(133deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
  70%{background: -webkit-linear-gradient(135deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
  75%{background: -webkit-linear-gradient(138deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
  80%{background: -webkit-linear-gradient(141deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
  85%{background: -webkit-linear-gradient(145deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
  90%{background: -webkit-linear-gradient(147deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
  95%{background: -webkit-linear-gradient(148deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
  100%{background: -webkit-linear-gradient(150deg, var(--primary-color) 60%, var(--secondary-color) 60%);}
}

/*Regenbogen farbverlauf animation*/
@keyframes rainbow{
    100%,0%{
        background-color: rgb(255,0,0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    33%{
        background-color: rgb(0,255,0);
    }
    41%{
        background-color: rgb(0,255,127);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(0,0,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}
/*schwebe animation*/

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, 0px); }   
}
/*Verblassen animation*/
@keyframes fade {
    0% { opacity: 0%; }
    80%  { opacity: 90%; }
    100%   { opacity: 80%; }   
}
/*Vergößern und verkleinern animation*/
@keyframes special {
    0% {
      transform: scale(0.95);
    }
    
    70% {
      transform: scale(1);
    }
    
    100% {
      transform: scale(0.95);
    }
  }
  @keyframes configure-clockwise {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(90deg);
    }
    50% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(270deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /*Uhrzeiger drehung animation*/
  @keyframes configure-xclockwise {
    0% {
      transform: rotate(45deg);
    }
    25% {
      transform: rotate(-45deg);
    }
    50% {
      transform: rotate(-135deg);
    }
    75% {
      transform: rotate(-225deg);
    }
    100% {
      transform: rotate(-315deg);
    }
  }
/*Uhrzeiger drehung animation(andere richtung)*/
  @keyframes spin {
    10%{
        opacity: 50%;
    }
    50%{
        opacity: 20%;
    }
    80%{
        opacity: 30%;
    }
    100% {
      transform:rotate(360deg);
      opacity: 50%;
    }
  }


/*
___________________________________________________________________ANIMATION_______________________________________________________________
*/
/*jeweilige klasse der animation um die animation an ein objekt abzuspielen*/

.floating-animation{
    animation: floating 3s ease-in-out infinite;
}
.fall-animation{
    transform: translateY(200px);
    opacity: 0;
    transition: all 1.4s ease-in-out;
}
.special-animation{
    animation: special 3s ease-in-out infinite;
}
.fade-animation{
    animation: fade 2s ease-in-out;
}

/*
_________________________________________________________________________REUSABLE STYLES___________________________________________________________
*/

/*scihtbarkeit wird auf block geändert--> unsichtbare objekte werden sichtbar beim hinzufügen der klasse*/

.display-on{
    display:block;
}

